body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: aliceblue;
  height: 100vh;
}
.main-content {
  display: grid;
  width: 100vw;
  padding: 3vw;
  box-sizing: border-box;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 2vw;
}
.main-content .card {
  display: flex;
  flex-direction: column;
  background-color: antiquewhite;
}
.modal form {
  display: flex;
  flex-direction: column;
  gap: 1vw;
  width: 30vw;
  border: 1px solid black;
  padding: 2vw;
}
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.2);
  display: none;
}
.add {
  position: absolute;
  top: 2vw;
  right: 2vw;
  border: none;
  border-radius: 50%;
  padding: 0.5rem 1rem;
  font-size: 2rem;
  background-color: black;
  color: white;
}
